<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
        <li><a href="/calculator/plus">덧셈 </a></li>
        <li><a href="/calculator/minus">뺄셈</a></li>
        <li><a href="/calculator/multiple">곱셈</a></li>
        <li><a href="/calculator/divide">나눗셈</a></li>
        <li><a href="/">HOME</a></li>
        </div>
        </section>
</body>
</html>